﻿


@model IEnumerable<FinalShopCart.ViewModel.ShoppingCartModel>


@{
    ViewBag.Title = "ShoppingCart";

    decimal GrandTotalAmount = 0.00M;
    decimal SubTotalAmount = 0.00M;
    decimal TaxAmount = 0.00M;
}

<h2>Home Page</h2>

@{ if (Session["CartCounter"] != null)
    {

        using (Html.BeginForm("AddOrder", "Shopping", FormMethod.Post))
        {
    <table class="table-condensed" style="width: 100%">
        <tr>
            <th>Product Name</th>
            <th>Model </th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>

        </tr>
        @foreach (var item in Model)
        {
            TaxAmount = item.Tax;
            GrandTotalAmount = item.GrandTotal;
            SubTotalAmount += item.Total;
            TaxAmount = 10 * SubTotalAmount / 100;
            GrandTotalAmount = SubTotalAmount + TaxAmount;

            <tr>
                <td>
                    <img src="@Url.Content(item.ImagePath)" height="50px" width="50px" class="img-rounded" />
                </td>
                <td>
                    @item.ItemName
                </td>

                <td>
                    @*@item.Quantity*@
                    <input type="number" name="quantity" itemid="@item.ItemId" id="quantity" value="@item.Quantity.ToString("#,##0")" onchange = "AddToCart(this)" min="1" max="10" />
                    &nbsp;<span id="errmsg"></span>
                </td>

                <td>
                    @item.UnitPrice.ToString("#,##0.00")
                </td>
                <td>
                    @item.Total.ToString("#,##0.00")

                <td>
                    <a class="btn btn-danger btn-sm" href="@Url.Action("Remove", new{id=@item.ItemId})">&#10060;</a>

                    @*@Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = item.ItemId },
                    new { onclick = "return confirm ('Are you sure you want to delete this?');", @class = "delete-shopping" })*@
                </td>

            </tr>
        }
        <tr style="border-top: 2px solid maroon">
            <td colspan="5" style="text-align: right">
                <h3>Sub Total</h3>
            </td>
            <td style="text-align: right">
                <h3>@SubTotalAmount.ToString("#,##0.00")</h3>
            </td>
        </tr>

        <tr>
            <td colspan="5" style="text-align: right">
                <h3>Tax</h3>
            </td>
            <td style="text-align: right">
                <h3>@TaxAmount.ToString("#,##0.00")</h3>
            </td>
        </tr>


        <tr>
            <td colspan="5" style="text-align: right">
                <h3>Grand Total</h3>
            </td>
            <td style="text-align: right">
                <h3>@GrandTotalAmount.ToString("#,##0.00")</h3>
            </td>
        </tr>

        @*<tr style="text-align: right">
            <td colspan="5">
                <input type="submit" value="Save" name="Save" class="btn btn-primary" id="SaveOrder" />
            </td>
        </tr>*@

        <tr style="text-align: center">
            <td colspan="5">

                <input type="button" value="UpdateCart" class="btn btn-default" id="UpdateCart" onclick="location.href='@Url.Action("Updatecart", "Shopping")'" />

                @*@Html.ActionLink("Continue Shopping", "Index", "Shopping", new { @class = "btn btn-secondary" })*@

                <input type="button" value="continue shopping" class="btn btn-success" onclick="@("window.location.href='" + @Url.Action("Index", "Shopping") + "'");" />

                @*<input type="submit" value="Save" name="Save" class="btn btn-primary" id="SaveOrder" />*@

                <input type="button" value="Next" class="btn btn-primary" id="nextbutton" name="Check" onclick="onCheck()" />

                @*<input type="button" value="Next" class=" btn-success" id="check-out" onclick="@("window.location.href='" + @Url.Action("Index", "Customer") + "'");" />*@



            </td>
        </tr>
    </table>
        }

    }

    else
    {
        <h4> No items in your cart!!!</h4>
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        var itemCount = $("tbody")[0].children.length;
        if (itemCount == 5) {
            $("#nextbutton").prop('disabled', true);
        }

        //called when key is pressed in textbox
        $("#quantity").keypress(function (e) {
            //if the letter is not a digit, we will display the error message and dont allow them to type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //we will display error message
                $("#errmsg").html("Enter digits only!").show().fadeOut("slow");
                return false;
            }
        });
    });

    function onCheck() {
        sessionStorage.setItem("valid", "true");
        window.location.href = "/Customer";
    }

    function AddToCart(item) {
        var inputValue = item.value;
        var itemId = $(item).attr("itemid");
        var formData = new FormData();
        formData.append("ItemId", itemId);
        formData.append("quantity", inputValue);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Shopping/ItemsCounter',
            success: function (data) {
                console.log(data);
                if (data.Success) {
                    $("#cartItem").text("Cart(" + data.Counter + ")");
                }
            },
            error: function () {
                alert("There is some problem.");
            }
        });
    }
</script>

