﻿@model FinalShopCart.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#submitButton").prop('disabled', true);
        $(".text-box").on("focusout", function () {
            var firstname = $("#FirstName").val();
            var lastname = $("#LastName").val();
            var phone = $("#Phone").val();
            var email = $("#Email").val();
            var baddress = $("#billaddline1").val();
            var bcity = $("#bcity").val();
            var bstate = $("#bstate").val();
            var bcountry = $("#bcountry").val();
            var bzip = $("#bzipcode").val();
            var saddress = $("#shipaddline1").val();
            var scity = $("#scity").val();
            var sstate = $("#sstate").val();
            var scountry = $("#scountry").val();
            var szip = $("#szipcode").val();

            if (firstname == "" || lastname == "" || phone == "" || email == "" || baddress == "" || bcity == "" || bstate == "" || bcountry == "" || bzip == "" || saddress == "" || scity == "" || scountry == "" || szip == "" || sstate == "") {
                $("#submitButton").prop('disabled', true);
            }
            else {
                $("#submitButton").prop('disabled', false);
            }
        });

        $('#check-address').click(function () {
            if ($('#check-address').is(":checked")) {
                $('#shipaddline1').val($('#billaddline1').val());
                $('#shipaddline2').val($('#billaddline2').val());
                $('#scity').val($('#bcity').val());
                $('#sstate').val($('#bstate').val());
                $('#scountry').val($('#bcountry').val());
                $('#szipcode').val($('#bzipcode').val());

                var country = $('#country option:selected').val();
                $('#country_billing option[value=' + country + ']').attr('selected', 'selected');
            } else { //Clear on uncheck
                $('#shipaddline1').val("");
                $('#shipaddline2').val("");
                $('#scity').val("");
                $('#sstate').val("");
                $('#scountry').val("");
                $('#szipcode').val("");
                $('#country_billing option[value=""]').attr('selected', 'selected');
            };
        });

    });

     

    $(document).ready(function () {
        if (sessionStorage.getItem("valid") == null) {
            window.location.href = "/";
        }
        $("#btnSave").click(function () {
            SaveItem();
        });
    });


    function buttonSubmit() {
        alert("Your Order Placed Successfully.Check your mail for Order details.");
    }

    function ResetItem() {
        $("#FirstName").val("");
        $("#LastName").val("");
        $("#Phone").val("");
        $("#Email").val("");
        $("#billaddline1").val("");
        $("#billaddline2").val("");
        $("#bcity").val("");
        $("#bstate").val("");
        $("#bcountry").val("");
        $("#bzipcode").val("");
        $("#shipaddline1").val("");
        $("#shipaddline2").val("");
        $("#scity").val("");
        $("#sstate").val("");
        $("#scountry").val("");
        $("#szipcode").val("");
    }


</script>

@using (Html.BeginForm())
{
   

    <div class="form-horizontal">
     
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

                                   <h3 style="text-align:center">Billing Address</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingAddressLine1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingAddressLine1, new { htmlAttributes = new { @class = "form-control", id = "billaddline1" } })
                @Html.ValidationMessageFor(model => model.BillingAddressLine1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingAddressLine2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingAddressLine2, new { htmlAttributes = new { @class = "form-control", id = "billaddline2" } })
                @Html.ValidationMessageFor(model => model.BillingAddressLine2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingCity, new { htmlAttributes = new { @class = "form-control", id = "bcity" } })
                @Html.ValidationMessageFor(model => model.BillingCity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingState, new { htmlAttributes = new { @class = "form-control", id = "bstate" } })
                @Html.ValidationMessageFor(model => model.BillingState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingCountry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingCountry, new { htmlAttributes = new { @class = "form-control", id = "bcountry" } })
                @Html.ValidationMessageFor(model => model.BillingCountry, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingZipCode, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingZipCode, new { htmlAttributes = new { @class = "form-control", id = "bzipcode" } })
                @Html.ValidationMessageFor(model => model.BillingZipCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <p style="text-align:center"><b> Shipping Information <label> <input type="checkbox" value="" id="check-address">Same as billing Information</label></b></p>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingAddressLine1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingAddressLine1, new { htmlAttributes = new { @class = "form-control", id = "shipaddline1" } })
                @Html.ValidationMessageFor(model => model.ShippingAddressLine1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingAddressLine2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingAddressLine2, new { htmlAttributes = new { @class = "form-control", id = "shipaddline2" } })
                @Html.ValidationMessageFor(model => model.ShippingAddressLine2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingCity, new { htmlAttributes = new { @class = "form-control", id = "scity" } })
                @Html.ValidationMessageFor(model => model.ShippingCity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingState, new { htmlAttributes = new { @class = "form-control", id = "sstate" } })
                @Html.ValidationMessageFor(model => model.ShippingState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingCountry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingCountry, new { htmlAttributes = new { @class = "form-control", id = "scountry" } })
                @Html.ValidationMessageFor(model => model.ShippingCountry, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingZipCode, new { htmlAttributes = new { @class = "form-control", id = "szipcode" } })
                @Html.ValidationMessageFor(model => model.ShippingZipCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" onclick="buttonSubmit()" id="submitButton" value="Create" class="btn btn-default" />
                &nbsp;
                <input type="button" onclick="ResetItem()" value="Reset" name="reset" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

